:root {
    /* COLORS */
    --primary: #0C2D48;
    --secondary: #2E8BC0;
    --third: #d44fd4;
    --stranger: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    color: var(--stranger);
}

body {
    background-color: var(--primary);
}

h1 {
    width: fit-content;
    max-width: 600px;
    font-size: 4rem;
    margin: 0 auto;
}

.gameBoard-section {
    width: 40%;
    margin: 60px auto;
    height: 70vh;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 7px;
    column-gap: 7px;
}

.container > .playArea {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    cursor: pointer;
    border: 3px solid var(--third);
    border-radius: 10px;
}

.players-div {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 100px;
    right: 100px;
}

.playerInput {
    color: var(--stranger);
    font-size: 2em;
    width: 200px;
    background-color: var(--secondary);
    border: 3px solid var(--stranger);
    border-radius: 10px;
}

.playerInput::placeholder {
    color: #ffffff91;
}

#winnerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 70vh;
    background-color: var(--third);
    position: absolute;
    top: 15vh;
    left: 25vw;
    border: 10px solid var(--secondary);
    border-top: 10px solid rgb(89, 223, 0);
    border-bottom: 10px solid rgb(89, 223, 0);
    border-radius: 50px;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.transition {
    display: flex;
}

#winner-message {
    font-size: 3.4em;
    background-color: var(--secondary);
    color: var(--stranger); 
    width: fit-content;
    max-width: 75%;
    margin: 30px 0;
    text-align: center;
    padding: 17px 10px;
    box-shadow: 0px 0px 20px 10px #000000;
    border-radius: 30px;
}

#winnerModal > #restart-game {
    width: fit-content;
    background-color: var(--secondary);
    color: var(--stranger);
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    border: 9px solid var(--primary);
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

#winnerModal > #restart-game:hover {
    background-color: var(--primary);
    color: var(--third);
    border: 9px solid var(--secondary);
}

#lord-icon-winner {
    width: 200px;
    height: 200px;
    justify-self: flex-end;
}

#lord-icon-tie {
    width: 200px;
    height: 200px;
    display: none;
    justify-self: flex-end;
}

.tie-message {
    color: var(--stranger);
    font-size: 5rem;
    width: fit-content;
    max-width: 90%;
    text-align: center;
}

.credits {
    width: fit-content;
    font-size: 2em;
    color: var(--third);
    margin: 0 auto;
}

.credits > .name {
    position: relative;
    text-decoration: none;
    transition: all 500ms ease-out;
}

.credits > .name:hover {
    color: rgb(255, 38, 0);
}

.credits > .name::after {
    content: '';
    display: block;
    height: 3.9px;    
    background: var(--third);
    border-radius: 5px;
    position: absolute;
    top: 1.3em;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 200ms ease-in-out;    
}

.credits > .name:hover::after {
    transform: scale(1, 1);
}

@media screen and (max-width: 1050px) {
    h1 {
        font-size: 2.5rem;
    }

    .gameBoard-section {
        width: 70%;
        margin: 60px auto;
        height: 70vh;
    }

    .container > .playArea {
        font-size: 7rem;
    }

    .players-div {
        top: 60px;
    }

    .playerInput {
        font-size: 1.4em;
    }
    
    #winnerModal {
        border-right: 10px solid var(--primary);
        border-left: 10px solid var(--primary);
    }

    #winner-message {
        font-size: 2.4em;
    }

    .tie-message {
        font-size: 3rem;
    }
}

@media screen and (max-width: 625px) {
    .gameBoard-section {
        width: 75%;
        height: 65vh;
    }

    .playerInput {
        font-size: 1.2em;
        width: 150px;
    }

    .players-div {
        left: 50px;
        right: 50px;
    }

    #winnerModal {
        width: 70vw;
        top: 15vh;
        left: 15vw;
    }

    #winnerModal > #restart-game {
        font-size: 1.5rem;
        padding: 2px;
    }

    #winner-message {
        font-size: 2em;
    }

    .tie-message {
        font-size: 2.5rem;
    }

    #lord-icon-winner {
        width: 150px;
        height: 150px;
    }
    
    #lord-icon-tie {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 515px) {
    .gameBoard-section {
        width: 85%;
        height: 65vh;
    }

    .playerInput {
        font-size: 1.2em;
        width: 100px;
    }

    .container > .playArea {
        font-size: 5rem;
    }

    #winnerModal {
        width: 70vw;
        top: 15vh;
        left: 15vw;
        height: 65vh;
    }

    #winner-message {
        font-size: 1.5em;
    }

    .tie-message {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 405px) {
    .gameBoard-section {
        width: 85%;
        height: 60vh;
        margin-top: 85px;
    }

    .container > .playArea {
        font-size: 4rem;
    }
}

@media screen and (max-width: 360px) {
    .gameBoard-section {
        width: 85%;
        height: 60vh;
        margin-top: 85px;
        margin-bottom: 10px;
    }

    .container > .playArea {
        font-size: 3rem;
    }
}
/* @media screen and (min-width: 0px) {
    #winnerModal > #restart-game {
        font-size: 1rem;
        padding: 10px;
    }
} */